@CHARSET "ISO-8859-1";

body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  background: url("../image/bg2.jpg") 50% fixed;
  background-size: cover;
  background-color: rgba(4, 40, 68, 0.85);
}

.content{
	margin-left:20%;
	background: #ffffff;
	margin-top:100px;
	width:fit-content;
	border-radius: 2px 2px 5px 5px;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
	
	
}

.leftSideBarParent {
    width: 18%;
    float: left;
    margin: 24px 0;
    margin-left: 10px;
    position: relative;
}

.leftSideBar table {
    width: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.leftSideBar .quickLink_S table td a {
    color: #4b4b4b;
}

.wrapper a:visited {
    color: #EC4E20;
}

a {
    outline: none;
    color: #060;
    text-decoration: none;
}

.leftSideBar .quickLink_S table td {
    border: 1px solid #868686;
    background-color: #e0e0e0;
    padding: 10px;
    font-size: 13px;
}

.leftSideBar .quickLink-header_S {
    border: 1px solid #868686!important;
    background-color: #868686!important;
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    font-weight: 700;
}

#companyTable tbody:hover td {
  background:#CCC;
  cursor:pointer;
}